#header {
  margin: 2em;
  border-bottom: solid;
}
#header h1 {
  font-size: 2.5em;
}

#footer {
  margin-top: 1em;
  padding-left: 3em;
}

body.two-col #sidebar {
  margin-top: 3em;
  margin-left: 3em;
}
body.two-col #sidebar h2 {
  font-size: 1.25em;
  line-height: 2.00em;
}
body.two-col #sidebar a:link {
  text-decoration: none;
}
body.two-col .post {
  margin-bottom: 2.0em;
}
body.two-col .post h2 {
  font-size: 2.0em;
}
body.two-col #content {
  margin: 3em;
}
body.two-col #content h1 {
  font-size: 2em;
}
body.two-col #content P {
  font-size: 1.40em;
  line-height: 1.25em;
}
body.two-col #content a:link {
  text-decoration: none;
}

.post_navigation {
  margin-bottom: 1em;
}
.post_navigation .previous_post {
  float: left;
}
.post_navigation .next_post {
  float: right;
  margin-right: 2em;
}
.post_navigation .clearfix {
  clear: both;
}
