@import "blueprint";



#header {
  margin: 2em;
  h1 {
      font-size: 2.5em;
   } 
   border-bottom: solid;

}

#footer {
  margin-top: 1em;
  padding-left:  2em;
}
body.two-col {
  margin-left: 5.1em;
  #sidebar {
      margin-top: 1em;
      padding-top: 2em;
      padding-left: 2em;
      padding-bottom: 2em;

      margin-left:  3em;
      background-color:  #f5f5f5;
      h2 {
        font-size: 1.25em;
        line-height: 2.00em;}
      a:link {
      text-decoration:  none;
    }
  }

  .post {
    h2 {
    font-size:  2.0em;
    }
    margin-bottom:  2.0em;
  }
  #content {
      h1 {
        font-size: 2em;
      }
      P {
      font-size: 1.40em;
      line-height: 1.25em;
      }
    margin-top: 2em;
    margin-left: 2em;
    a:link  {
    text-decoration:  none;
    }
  }
}


// .post {
//   h2 {
//       font-size: 1.25em;
//   }
//   .byline {
//     margin-bottom: 1em;
//     font-size: 90%;
//     .author, .date {
//       display: inline; }
//     .author {
//       font-weight: bold; } } 
//   margin-bottom: 20px;
//   padding-bottom: 10px;
//   border-bottom: 1px dashed #ddd;
// }

.post_navigation {
  margin-bottom: 1em;
  .previous_post {
    float: left;
  }
  .next_post {
    float: right;
    margin-right: 2em;

  }
  .clearfix {
    clear: both;
  }
}