@import "blueprint";



#header {
  margin: 2em;
  position:absolute;
  h1 {
      font-size: 2.5em;
   } 
   border-bottom: solid;

}

#footer {
  position: relative;
  border-top: solid;
  margin-top: 1em;
  padding-left:  2em;
}
body.two-col {
  margin-left: 5.1em;
  #sidebar {
      margin-top: 10em;
      padding-top: 2em;
      padding-left: 2em;
      padding-bottom: 2em;

      margin-left:  3em;
      background-color:  #f5f5f5;
      h2 {
        font-size: 1.25em;
        line-height: 2.00em;}
      a:link {
      text-decoration:  none;
    }
  }

  .post {
    h2 {
    font-size:  1.5em;
    }
    margin-top: .5em;
    margin-bottom:  2.0em;
  }
  .content {
  margin-top: 1em;
    h1 {
    line-height: 1.5em;
    }
    h2 {
    line-height: 2em;
    }
  }
  #content {
      h1 {
        font-size: 2em;
      }
      P {
      font-size: 1.0em;
      line-height: 1.5em;
      }
      a {
      color: blue;
      }
    margin-top: 10em;
    margin-left: 2em;
    a:link  {
    text-decoration:  none;
    }
  }
}



.post_navigation {
  margin-bottom: 1em;
  .previous_post {
    float: left;
  }
  .next_post {
    float: right;
    margin-right: 2em;

  }
  .clearfix {
    clear: both;
  }
}
