 
%html
  %head
    %title
      Brooke and Sons
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/text.css', :media=>'screen, print' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/site.css', :media=>'screen' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/styles/default.css'}
      %script{:src => "/js/highlight.pack.js"}
      :javascript
        hljs.initHighlightingOnLoad();
    %body.two-col
    #content_container
      #header
        %a{:href=>site.base_url}
          %h1 Brooke and Sons Web Builders
      #content
        ~ content
      #sidebar_container
        #sidebar
          %h2 Navigation
          %ul
          %li
            %a{:href=>'/'}
              Home 
          %li.post-tags
            %a{:href=>'/blog/tags/'}
              Tag cloud
            %h2 Contact
            %ul
            %li
              %a{:href=>'http://twitter.com/tmb52'}
                @tmb52 on Twitter
            %li
              %a{:href => 'https://github.com/tbrooke'}
                Github
            %h2 Projects
            %ul
            %li
              %a{:href=>'http://twinmaps.com'}
                Twinmaps
            %li
              %a{:href=>'http://github.com/MainStMission/food-pantry-manager'}
                Main Street Mission Food Pantry
      #footer
        Copyright 2012 Brooke and Sons Web Builders.

      = google_analytics

